@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Patrick Hand', cursive;
    text-align: center;
    color: #FFFFFF;
    line-height: 1.5;
    letter-spacing: 1px;
}

.wrapper {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)), url('./background.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.testimonial {
    padding: 30px 100px;
}

article h1 {
    font-size: 50px;
    font-weight: 800;
    text-transform: uppercase;
}

article h1:after {
    content: "";
    height: 5px;
    width: 225px;
    background-color: #FFFFFF;
    display: block;
    margin: auto;
}

article img {
    height: 200px;
    width: 200px;
    border: 2px solid #FFFFFF;
    border-radius: 50%;
    margin-top: 60px;
}

blockquote {
    font-size: 32px;
    margin-top: 30px;
}

article h5 {
    text-transform: uppercase;
    font-size: 38px;
    margin-top: 30px;
    letter-spacing: 1.5;
    margin-bottom: 30px;
}

.btn {
    border: 2px solid gray;
    padding: 10px 20px;
    margin-top: 30px;
    text-decoration: none;
    font-size: 18px;
    transition: 0.3s linear;
}

.btn:hover,
.btn:focus {
    border: 2px solid #FFFFFF;
}